    insmod /system/vendor/modules/pvrsrvkm.ko
    insmod /system/vendor/modules/sunxi_schw.ko

#insmod videobuf driver and csi driver
    insmod /system/vendor/modules/videobuf-core.ko
    insmod /system/vendor/modules/videobuf-dma-contig.ko
    #if there is no csi on board, remove follow csi ko, and set num_of_camera to 0 in camera.cfg
    insmod /system/vendor/modules/cci.ko
    insmod /system/vendor/modules/actuator.ko
    insmod /system/vendor/modules/vfe_os.ko
    insmod /system/vendor/modules/vfe_subdev.ko
    insmod /system/vendor/modules/dw9714_act.ko
    insmod /system/vendor/modules/ov16825.ko
    insmod /system/vendor/modules/vfe_v4l2.ko
#end of videobuf and csi

#insmod spdif driver
    insmod /system/vendor/modules/sunxi_spdif.ko
    insmod /system/vendor/modules/sunxi_spdma.ko
    insmod /system/vendor/modules/sndspdif.ko
    insmod /system/vendor/modules/sunxi_sndspdif.ko
#end of spdif

    insmod /system/vendor/modules/dc_sunxi.ko
    insmod /system/vendor/modules/sunxi-ir-rx.ko
    insmod /system/vendor/modules/gpio-sunxi.ko
    insmod /system/vendor/modules/bcmdhd.ko
    insmod /system/vendor/modules/bcm_btlpm.ko

#insmod usb audio driver(should insmod it last of all the sound card)
    insmod /system/vendor/modules/snd-hwdep.ko
    insmod /system/vendor/modules/snd-usbmidi-lib.ko
    insmod /system/vendor/modules/snd-usb-audio.ko
#end of usb audio

#insmod uvcvideo(depend on videobuf-core.ko and videobuf-dma-contig.ko)
    insmod /system/vendor/modules/uvcvideo.ko
#end of uvcvideo

    writefile /.insmod_core_done
